body 
{
	font-family: Ariel, Verdana, sans-serif;
	background-color: palegoldenrod;
}

p 
{
	color: saddlebrown;
	padding: 10px;
}

#container {width:60%;}

#mypara2 {font-weight: bold;}

.headcolor 
{
	color: white;
	background-color: saddlebrown;
	padding: 10px;
}